html, body {
    width: 100%;
}

*{
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    border: 0;
    margin:0;
}
.aboutUs{
    display: flex;
    width: 50% ;
    align-items: center ;
    justify-content: center;
    margin: 0 auto;
}

/* Content-written part*/
.twoWords{
    color:rgb(44, 161, 44);
    font-style: italic;
}

.written{
    justify-content: center;
    position: relative;
    width: 100%;

    
}

.written h2{   /*The Success History Of Tea House In 25 Years*/
    font: bold 3rem "Playfair Display", serif;
    width: 40rem;

    
}
.part-one b,.part-two b{
    font-size:1rem;
}
.part-one,.part-two{
    display: flex;
}


/*two imgs in about us part */

.part-one img,.part-two img{
    width: 140px;
    height: 90px;
}
.part-one img{
    margin-right: 2rem;
}
.part-two img{
    margin-left: 2rem;   
}

/*line between paragraphs*/
.lineDesign{
    display: flex;
    margin: 1rem 0;
}

.leftLine{
    width: 100px;
    height: 0.01vw; ;
    background-color: rgb(44, 161, 44);
    margin: 0.3rem;
}

.rightLine{
    width: 100px;
    height: 0.01vw; ;
    background-color: rgb(44, 161, 44);
    margin: 0.3rem;
}

/*circle*/
  .circle {
    width: 0.7vw; 
    height: 0.7vw;
    background-color: rgb(95, 9, 95); 
    border-radius: 50%;
    position: relative;
    
  }



.midLine{
    width: 100%;
    opacity:40%;
    background-color: black;
    height: 0.01vw;
    margin: 1rem 0;

}

/*images part*/
.img-row1{
display: flex;
}
.img-row2{
display: flex;
margin-left:7rem;
}
.one{
    padding: 1rem;
}

.four{
    padding: 1rem;
}

.three{
    padding: 1rem;
    
    
}


.two{
    
    padding:1rem;
    margin-top: -10rem;
    /*
    position: relative;
    transform: translateX(-4000px) ; 
    transform: translateY(300px) ;
    */
}

@media (max-width:1000px){
    .aboutUs{
        display: block;
        margin:1rem auto;
    }
}

@media (max-width:600px){
    .part-one,.part-two{
        display: block;
        margin:1rem auto;
    }
    .part-one img,.part-two img{
        width: 250px;
        height: 200px;
    }
}